Follow the comments and conduct exploratory analysis on the Iris dataset!

Christopher Kevin Siswanto, Student ID: 2600220449-4

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
#read in the dataset (iris.csv) to a dataframe
df = pd.read_csv("/Users/kevin/Downloads/iris.csv")

In [6]:
#check the beginning of the data
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
#remove the "Id" column
df.drop("Id", axis=1, inplace=True)

In [8]:
#check if it's really removed (checking the beginning of the data again)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
#show column-wise statistics including average, standard deviation, minimum, maximum etc.
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [10]:
#check how many unique Iris species are there in the dataset
#tip: use .value_counts() on the appropriate column
species = df["Species"]
species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [11]:
#check if there any null (missing) values in the dataset
#tip: several ways to do tis, but the combination of .isnull() and .sum() provides an easy way to do this
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [12]:
print('Length of the dataset:')
len(df)

Length of the dataset:

150

In [13]:
#remove duplicates from the dataset, using drop_duplicates
df.drop_duplicates(subset=None, inplace=True, keep=False)

In [14]:
print('Length of the dataset after removing duplicates:')
len(df)

Length of the dataset after removing duplicates:

145

In this Markdown cell, describe how did you make the scatter plot below!

In [ ]:
#create a scatter plot, where x=SepalLengthCm, and y=SepalWidthCm
#size of the marker should be set to 20
#label x axis as 'Sepal Length' and y axis as 'Sepal Width'
#the title of the plot should be 'Sepal sizes of Iris'
#save the figure in a png format at 300 dpi
data = { 'a': df['SepalLengthCm'],
       'size': 20
}

data['b'] = df['SepalWidthCm']

plt.scatter('a', 'b', s='size', data=data) #creating scatter plot
plt.xlabel('Sepal Length') #label at the x axis
plt.ylabel('Sepal Width') #label at the y axis
plt.title('Sepal sizes of Iris')
plt.savefig('Scatter_plot.png', format = 'png', dpi = 300)
plt.show()

In [42]:
#select the subset of the data, where the species is Iris-virginica, and name the new datafram iv_df
#tip: this means selecting rows in DataFrame based on a condition
iv_df = df[df['Species'] == 'Iris-virginica']

In [43]:
#check the beginning new dataframe
iv_df.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
100            6.3           3.3            6.0           2.5  Iris-virginica
102            7.1           3.0            5.9           2.1  Iris-virginica
103            6.3           2.9            5.6           1.8  Iris-virginica
104            6.5           3.0            5.8           2.2  Iris-virginica
105            7.6           3.0            6.6           2.1  Iris-virginica

In [51]:
#use .unique on the Species column to show that every row is Iris-virginica 
iv_df['Species'].unique()

array(['Iris-virginica'], dtype=object)

In [52]:
#make lists of the 'PetalLengthCm', 'PetalWidthCm', 'SepalLengthCm', and 'SepalWidthCm' columns of iv_df
#use .tolist() on the appropriate columns
pl = iv_df.PetalLengthCm.tolist()
pw = iv_df.PetalWidthCm.tolist()
sl = iv_df.SepalLengthCm.tolist()
sw = iv_df.SepalWidthCm.tolist()

In this Markdown cell, describe how did you make the plot below!

In [2]:
plt.figure(constrained_layout=True) #don't change this line, this is just to make sure everything is readable
#make a 1x2 grid with two subplots that has two scatter plots (at position 1 and 2)
#for the first scatter plot, use petal_length and petal_width (the lists you created earlier)
#for the second scatter plot, use sepal_length and sepal_width (the lists you created earlier)
#labels for the axes should correspond to their data (e.g., x axis label for the first subplot can be "petal length")
#the (common) title for the subplots should be 'Petal and sepal sizes of Iris-Virginica'
plt.subplot(1,2,1)
plt.scatter(pl, pw)
plt.xlabel('petal_length')
plt.ylabel('petal_width')
plt.title('Petal sizes of Iris-Virginica')
plt.subplot(1,2,2)
plt.scatter(sl, sw)
plt.xlabel('sepal_length')
plt.ylabel('sepal_width')
plt.title('Sepal sizes of Iris-Virginica')

NameError: name 'plt' is not defined

In [3]:
#save the iv_df as a new csv file, without the indices
#tip: when saving a dataframe, you can specify with a Boolean value if you don't want to save the indices
iv_df.to_csv('iv_df.csv', index = False)

NameError: name 'iv_df' is not defined