Follow the comments and conduct exploratory analysis on the Iris dataset!

In this Markdown cell, write your Name and Student ID

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#read in the dataset (iris.csv) to a dataframe
df = pd.read_csv('iris.csv')

In [23]:
#check the beginning of the data
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
#remove the "Id" column
df.drop(['Id'], axis = 1, inplace = True)

KeyError: "['Id'] not found in axis"

In [25]:
#check if it's really removed (checking the beginning of the data again)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
#show column-wise statistics including average, standard deviation, minimum, maximum etc.
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [27]:
#check how many unique Iris species are there in the dataset
#tip: use .value_counts() on the appropriate column
df.value_counts('Species')

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [28]:
#check if there any null (missing) values in the dataset
#tip: several ways to do this, but the combination of .isnull() and .sum() provides an easy way to do this
df.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [29]:
print('Length of the dataset:')
len(df)

Length of the dataset:

150

In [38]:
#remove duplicates from the dataset, using drop_duplicates
df.drop_duplicates(inplace=True, keep=False)

In [39]:
print('Length of the dataset after removing duplicates:')
len(df)

Length of the dataset after removing duplicates:

145

In this Markdown cell, describe how did you make the scatter plot below!

In [42]:
#create a scatter plot, where x=SepalLengthCm, and y=SepalWidthCm
#size of the marker should be set to 20
#label x axis as 'Sepal Length' and y axis as 'Sepal Width'
#the title of the plot should be 'Sepal sizes of Iris'
#save the figure in a png format at 300 dpi

df.plot.scatter = df.plot.scatter(x='SepalLengthCm', y='SepalWidthCm', s=20, title='Sepal sizes of Iris')

TypeError: 'AxesSubplot' object is not callable

In [ ]:
#select the subset of the data, where the species is Iris-virginica, and name the new datafram iv_df
#tip: this means selecting rows in DataFrame based on a condition
iv_df =

In [ ]:
#check the beginning new dataframe
iv_df.head()

In [ ]:
#use .unique on the Species column to show that every row is Iris-virginica

In [ ]:
#make lists of the 'PetalLengthCm', 'PetalWidthCm', 'SepalLengthCm', and 'SepalWidthCm' columns of iv_df
#use .tolist() on the appropriate columns

In this Markdown cell, describe how did you make the plot below!

In [ ]:
plt.figure(constrained_layout=True) #don't change this line, this is just to make sure everything is readable
#make a 1x2 grid with two subplots that has two scatter plots (at position 1 and 2)
#for the first scatter plot, use petal_length and petal_width (the lists you created earlier)
#for the second scatter plot, use sepal_length and sepal_width (the lists you created earlier)
#labels for the axes should correspond to their data (e.g., x axis label for the first subplot can be "petal length")
#the (common) title for the subplots should be 'Petal and sepal sizes of Iris-Virginica'

In [ ]:
#save the iv_df as a new csv file, without the indices
#tip: when saving a dataframe, you can specify with a Boolean value if you don't want to save the indices